.token-tree {
  display: block;
}


.heartbeat-message {
  border: 1px solid #dfdfdf;
  padding: 16px;
}

.heartbeat-message img {
  max-width: 286px;
  margin: 8px;
}

.heartbeat-message a {
  display: block;
}
