/* Place the account to right and branding logo to left in header*/
nav#block-kekistan-account-menu {
    float: right;
    padding-top:50px;
}

div#block-kekistan-branding {
  float: left;
  margin-bottom: 15px;
  display: inline-block;
}

#block-kekistan-branding a.site-logo,
#block-kekistan-branding .site-name {
  display: inline-block;
}

/* Logo image*/
#block-kekistan-branding img {
  max-width: 110px;
}

/* Header background*/
header#header {
  background: rgb(48, 76, 71);
}

element.style {
  background-color: #c0c5be;
}

/* Republuc of kekistan*/
.site-name a {
  color: rgba(255, 255, 255, 0.78) !important;
  top: 28px !important;
  position: relative;
}

/* Free kekistan*/
.site-slogan {
  color: white;
  padding-top: 10px;
}

#block-kekistan-account-menu a {
  color: #d6d5d5;
}


/* Left side menu bar*/
nav#block-kekistan-main-menu {
  margin-top: 15px;
}

/* Left side menu*/
aside#sidebar-first {
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Left side menu - search*/
div#block-kekistan-search {
  margin-top: 30px;
}

/* Left side menu - anthemn title */
div#block-kekistananthem {
  font-size: 10px;
  padding-top: 30px;
}

/* Left side menu - anthemn video */
iframe.kekistan-anthem-video {
  max-width: 225px;
}

/* Left side menu - anthemn video */
#block-kekistananthem .quickedit-field p {
  text-align: center;
}

/*Offset main div to consider fixed footer*/
#main {
/*TODO figure out how to offset footer*/
}


/* Main content*/
#content-area {
  padding-bottom: 15px;
  padding-top: 15px;
}

#block-kekistan-content .links {
  display: none;
}

/* Hyberlinks */
.site-name a {
  color: rgba(27, 22, 22, 0.78);
}

.quickedit-field a {
  color: green;
}

/* Feed buttons*/
#edit-feedtabs input.form-radio {
  background: #304c47!important;
  padding: 0em 10em 2.5em 0em!important;
}

#edit-feedtabs input[type="radio"]:checked {
  background: #5e802e!important;
}
/*** Above rule catches all of these ***/
/*input#edit-feedtabs-sjw-discovery {*/
/*background: #304c47!important;*/
/*padding: 0em 10em 2.5em 0em!important;*/
/*}*/

/*input#edit-feedtabs-public {*/
/*background: #304c47!important;*/
/*padding: 0em 10em 2.5em 0em!important;*/

/*}*/

#heartbeat-feed-form input.form-radio:hover {
  background: rgb(86, 137, 60)!important;
}

#edit-feedtabs--wrapper legend .fieldset-legend {
  display: none;
}

.heartbeat-stream #main #content {
  margin-left: 0!important;

}

.heartbeat-message {
  padding: 25px!important;
}

.heartbeat-message a {
  color: #1da1f2;
}

.heartbeat-hashtag,
.heartbeat-username {
  display: inline-block;
  padding: 0px 3px 0px 3px;
}

.heartbeat-username a {
  color: #ca28b4;
}

.heartbeat-hashtag a {
  color: #6e6e6e;
}



/** Status Messages **/
#edit-message--description {
  display: none;
}

/* Footer */
footer#footer {
  height: 60px;
  padding-top: 10px;
  background-color: rgb(48, 76, 71);
  color: grey!important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#block-kekistan-footer {
  text-align: center;
}

#block-kekistan-footer .menu-item a {
  color: transparent!important;
}

#block-kekistan-footer .menu-item a.about-footer,
#block-kekistan-footer .menu-item:nth-of-type(2) a {
  color: white!important;
}

#block-kekistan-footer .footer-link-icon {
  min-width: 32px;
  min-height: 32px;
  display: inline-block;
}

/*#block-kekistan-footer .fourchan-footer {*/
  /*background-image: url(/themes/kekistan/images/icons/4chanlogo.png);*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*min-height: 35px;*/
  /*margin-bottom:10px;*/

/*}*/

#block-kekistan-footer li a {
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  min-height: 35px;
  margin-bottom:10px;
}

/*@media (min-width: 380px) {*/
#block-kekistan-footer .fourchan-footer {
  background-image: url(/themes/kekistan/images/icons/4chanlogo.png);
}
/*}*/

#block-kekistan-footer .facebook-footer {
  background-image: url(/themes/kekistan/images/icons/facebook-logo-button-white.png);
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*min-height: 35px;*/
  /*margin-bottom:10px;*/
  /*margin-left:15px;*/
}

#block-kekistan-footer .instagram-footer {
  background-image: url(/themes/kekistan/images/icons/instagram-logo-white.png);
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*min-height: 35px;*/
  /*margin-bottom:10px;*/
}

#block-kekistan-footer .twitter-footer {
  background-image: url(/themes/kekistan/images/icons/twitter-logo-white.png);
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*min-height: 35px;*/
  /*margin-bottom:10px;*/
}


/* Position footer links */
#block-kekistan-footer ul.menu {
  display: flex;
  justify-content: space-between;
  height: 70px;
}


/* Tags */
.quickedit-field {
  padding-top: 10px;
}


/* Contact - Feedback */
form#contact-message-feedback-form #edit-name label {
  float: left!important;
  padding-right: 10px!important;
}

form#contact-message-feedback-form #edit-mail label {
  float: left!important;
  padding-right: 10px!important;
  margin-left: -95px!important;
}

form#contact-message-feedback-form #edit-subject-wrapper label {
  float: left!important;
  margin-left: -160px!important;
}

form#contact-message-feedback-form label::after {
  content: ': ';
}


/*Preview Generator*/

.statusmessage-preview-iframe {
  min-height: 240px;
  min-width: 465px;
}
