{#
/**
 * @file heartbeat_stream.html.twig
 * Default theme implementation to present Heartbeat stream data.
 *
 * This template is used when viewing Heartbeat stream pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_heartbeat_stream()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('heartbeat_stream') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
