{#
/**
 * @file heartbeat.html.twig
 * Default theme implementation to present Heartbeat data.
 *
 * This template is used when viewing Heartbeat pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_heartbeat()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('heartbeat') }}>
  {% if content %}
    {{- content|raw -}}
    {#{{- content.message -}}#}
    {#{{- content.node -}}#}
  {% endif %}
</div>
