{#
/**
 * @file heartbeat-stream.html.twig
 * Default theme implementation to present Heartbeat stream data.
 *
 * This template is used when viewing Heartbeat stream pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_heartbeat_stream()
 *
 * @ingroup themeable
 */
#}
<div class="heartbeat-stream">
  {% if content %}
    {{- content -}}
  {% endif %}
  {% autoescape false %}
  {% for message in messages %}
    <div{{ attributes.addClass('heartbeat-message') }}>
      {{ message }} <br>
    </div>
  {% endfor %}
  {% endautoescape %}
</div>
